.button{
  background-color: #68B738;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.show-more__button{
  font-family: 'Oswald';
  background-color: #F2F2F2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444
}
